<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <style>
        body{
        padding-top:100px;
        padding-left:25%;
        }
    </style>
</head>
<body ng-app="UserForms" ng-controller="confirmationController">
<div>
    <p>Sveiki,<br><br><br>
        dėkojame, kad kreipiatės į „Swedbank".<br><br><br>
        Į pateiktus klausimus atsakome darbo dienomis 8-20 val., šeštadieniais 9-16 valandomis.<br>
        Jeigu Jums reikalinga skubi informacija, laukiame Jūsų skambučių telefonu 1884 arba tel.<br>
        +370 5 268 4444, jei skambinate iš užsienio. Linkime geros dienos!
    </p>
    <div style = "padding: 15px 500px;">
        <a href="home.html" class="btn btn-default" role="button">Atgal</a>
    </div>

</div>
</body>
</html>